/* Small devices (landscape phones, 576px and up) */
@media (min-width: 176px) {
  /* body {background-color: green;} */
  .contact-page {
    display: flex;
    flex-direction: column;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .form-panel {
    padding: 50px 20px;
  }
  .form-panel h2 {
    text-align: center;
    margin-bottom: 0;
  }

  .form-panel h3 {
    text-align: center;
  }

  .mission-panel {
    display: none;
  }

  .contact-donation {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid var(--border-dark);
    width: 85%;
    margin: 0 auto 20px;
    border-radius: var(--radius-xl);
    background-image: url("../assets/churchlight.jpg");
    background-size: cover;
    box-shadow: var(--shadow-xl);
  }

  .contact-donation svg {
    width: 10%;
  }

  .contact-donation-info {
    width: 80%;
  }

  .contact-donation-info span:first-of-type {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color-black);
    color: var(--color-black);
  }

  .contact-donation-info p:first-of-type {
    display: none;
  }

  .contact-donation-info p:last-of-type {
    font-size: 0.85rem;
    color: var(--color-black);
  }

  .contact-donation button {
    padding: 5px 20px;
    height: 40px;
    align-self: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* body {background-color: rgb(71, 17, 195);} */
  .contact-form-container {
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .mission-panel {
    display: block;
    border-radius: var(--radius-xl);
    height: 100%;
  }

  .mission-panel img {
    display: block;
    border-radius: var(--radius-xl);
    height: 95%;
    width: 100%;
    min-width: 450px;
    margin: auto;
    margin-top: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { */
/* body {background-color: rgb(242, 118, 192);} */

/* } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
 body {background-color: rgb(101, 217, 233);}
  
} */

/* Extra extra large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
 body {background-color: rgb(144, 111, 221);}
  
} */
