@media (min-width: 176px) {
  dialog {
    margin: auto;
    border: none;
    max-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    padding: 0;
    border-radius: var(--radius-lg);
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.383);
  }
  dialog .btn-close {
    position: relative;
    padding: 5px 15px;
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1.5rem;
    z-index: 100;
  }
}
