/* Small devices (landscape phones, 576px and up) */
@media (min-width: 176px) {
  .snap-scan-donation {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
  }

  .snap-scan-donation {
    text-align: center;
  }

  .snap-scan-donation img {
    width: 70%;
    min-width: 180px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* body {background-color: rgb(71, 17, 195);} */
}
